# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#Labyrinth Submit Ignores
#Folders
**/Debug/
**/Release/
Debug/
Release/
ipch/

#Files
*.sdf
*.opensdf